/* message */
$("#notice").html('<div class="alert alert-success">Paradigm was successfully deleted</div>')

$(".paradigm").addClass('deleted');

/* disable the link after the first click */
$(".btn_delete").attr('disabled', 'disabled');
$(".btn_save").attr('disabled', 'disabled');

