/* message */
$("#current_word").append('<div class="alert alert-success">Paradigm was successfully deleted</div>')

/* grey out the whole paradigm */
$(".paradigm").css('background-color', 'lightgrey');
$(".paradigm input").css('background-color', 'lightgrey');
/*$(".paradigm").css('border', '1px solid black'); */

