
- @idx ||= 1 # any will do

%h2= @title

- if @current_word
  Current word:
  %span#current_word= @current_word.text
  %p

= render partial: 'paradigm_for_form', locals: { paradigm: @paradigm, idx: @idx, current_word: @current_word }

-#%script#jscode
