
- options = {:partial => 'paradigm_for_form', :locals => { paradigm: @paradigm, idx: @idx}}

$(".paradigms").append("<div id='#{@page_section_id}'>#{escape_javascript(render options)}</div>")

-#newdiv = document.createElement("div").setAttribute("id", "#{@page_section_id}")
-#$(".paradigms").append(newdiv)

do_on_document_ready()
