- url_params = {controller: 'tasks', action: 'generate'}
- if params[:page]
  - url_params[:page] = params[:page]
- if params[:user_id]
  - url_params[:user_id] = params[:user_id]

To generate a bunch of fresh tasks, press this funny button:
=link_to "Generate", url_for(url_params), method: 'get', class: 'btn btn_generate_tasks'
