- task ||= @current_task

#task_in_sp

  - if task
    .title Current task ##{task.id}

    %div.words
      = render partial: 'words/word_in_sidepane', collection: task.words, as: :word

  - else
    = "No task to display"
    
