
%table.table_of_tasks{border:1}
  %thead
    %tr
      %th.center TaskID
      %th.center Priority
      %th.center Status
      %th Words
      %th.center= btn_label
    %tbody
      = render partial: "tasks/task", collection: tasks,
              locals: { btn_action: btn_action, btn_label: btn_label }
