
- col_label ||= btn_label

%table.table_of_tasks
  %thead
    %tr
      %th.center.fixed_width ID
      %th.center.fixed_width Priority
      %th.center.fixed_width Status
      %th.words Words
      %th.center.fixed_width.last= col_label
    %tbody
      = render partial: "tasks/task", collection: @tasks,
              locals: { btn_action: btn_action, btn_label: btn_label }
