/* hide the task that has been dropped */
$("#task_#{@task.id}").fadeOut(200);

/* update the task count with the number of remaining tasks */
$(".count_of_tasks").html("#{pluralize(@tasks.count, "unassigned task")}");

/* update the user task count with the number of assigned tasks */
$(".count_of_user_tasks").html("#{pluralize(@user_tasks.count, "task")}");
