- @placeholder ||= "Mithridatism"

= form_for :search, url: sentences_search_path, method: 'get' do |f|
  %table#search_form
    %thead
      %tr
        %th Find word:
        %th Case sensitive
        %th &nbsp;
    %tbody
      %tr
        %td= text_field_tag "word", params["word"], placeholder: @placeholder, class: 'word'
        %td.has_chb= check_box_tag "casesensitive", 1, casesensitive_checked?, class: 'chb'
        %td= f.submit "Search", accesskey: "s" #, class: 'btn'
