
:plain
  Documents added:           #{@infos['added_documents']}
  Sentences added:           #{@infos['added_sentences']}
  Total words in sentences:  #{@infos['added_total_words']}
  Added new words:           #{@infos['added_new_words']}

