@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.footer, .header {
	background: lightgreen;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.radioset {
  .labels {
    font-weight: bold;
  }
  .buttons {
    text-align: center;
  }
}

.comment {
  background-color: #ddd
}

.save {
  margin-top: 1em;
  margin-left: 0.5em;  
  display: block;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.tasks .center {
  text-align: center;
}

.balloon {
  span {
    display: none;
  }

  label:hover + span {
    display: block;
    position: absolute;
    margin:5px 0px 0px 20px;
    background-color: beige;
    max-width:400px;
    padding: 2px 10px 2px 10px;
    border: 1px solid #C0C0C0;
    /*  font: normal 10px/12px verdana; */
    text-decoration:none;
    color: #000;
    text-align:left;
  }    
 }
