@import "bootstrap";


/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.footer, .header {
	background: lightgreen;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.radioset {
  .labels {
    font-weight: bold;
  }
  .buttons {
    text-align: center;
  }
}

.comment {
  background-color: #ddd
}

table.buttons {
  margin-top: 1em;
  width: 480px;
  
  td.empty {
    width: 100%;
  }

  &.dumped {
    .warning {
      text-align: center;
      font-size: larger;      
      color: red;
    }

    .btn {
      background: grey;
      border-color: grey;
    }
  }  
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.tasks .center {
  text-align: center;
}

.has_balloon {
  .balloon {
    display: none;
  }

  /* *:hover does not work */
  a:hover     + .balloon,
  input:hover + .balloon,  
  label:hover + .balloon {
    display: block;
    position: absolute;
    margin:5px 0px 0px 20px;
    background-color: beige;
    max-width:400px;
    padding: 2px 10px 2px 10px;
    border: 1px solid #C0C0C0;
    /*  font: normal 10px/12px verdana; */
    text-decoration:none;
    color: #000;
    text-align:left;
  }    
}

.pdg_stubs {
  display: none;
}

/********************************************************************\
 *
 * a single paradigm displayed in a table
 *
\********************************************************************/

.paradigm {
  thead {
    .click_to_copy:hover {
      cursor: pointer;
    }

    tr {
      border-top: solid 1px black;      
    }

    th {
      padding: 5px 5px 0px 10px;
    }
  }

  th, td {
    text-align: left;
  }

/* 
  tr {
    border-bottom: dotted 1px black;      
  }
*/

  td input {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }

  tr.last {
    border-bottom: dotted 1px black;      
  }

  th.tag, td.tag {
    width: 80px;
  }

  th.word {
    width: 300px;
    border-left: dotted 1px black;    
  }

  tr.comment label,  
  tr.comment input {
    margin-top: 5px;
    margin-bottom: 5px;
    width:100%;
  }  

  tr.comment label {
    padding-left: 8px;
  }

  td.has_button {
    padding: 0 5px 0 5px;
  }  

  input[type='text'].changed {
    background: #F7E570; /* kind of gold color */
  }

}

.paradigm.deleted {
  background: lightgrey;

  .comment input {
    background: lightgrey;
  }
}

.paradigm.deleted .pdg_slot input,
.pdg_slot.deleted input {
    background: #777777;
    color: white;  
}

.paradigm.dumped {
  .btn {
    background: grey;
    border-color: grey;
  }
}

a.lnk_to_pdg {
  padding-left: 4px;
  padding-right: 4px;
  &.dumped {
    background: lightgrey;
    font-size: smaller;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    // font-style: italic;
  }
}

table.radioset {
  width: 100%; 

  /* & references self */
  &.changed tr {
    background-color: #F7E570;
  }

  .labels {
    td {
      width: 40px;
    }
    td.empty {
      width: 180px;
//      border: dotted 1px red;    
    }  
  }
}  

.red {
  background-color: red;
}

/********************************************************************\
 *
 * tasks displayed in a table
 *
\********************************************************************/

.table_of_tasks {

  td {
    padding: 5px 10px;
  }

  thead {
    background-color: #a1a1a1;
    
    th {
      padding: 10px;
      color: #A21100;
      border-top: solid 1px black;      
      border-right: dotted 1px black;
    }

    th.last {
      border-right: 0px;
    }
  }

  tbody {
    tr {
      border-bottom: dotted 1px black;
    }
  }

  th.fixed_width, td.fixed_width {
    width: 60px;
  }

  th.words {
    width: 400px;
  }  
}

/********************************************************************\
 *
 * buttons in various contexts
 *
\********************************************************************/

/* button styles from: http://www.usabilitypost.com/2012/01/10/pressed-button-state-with-css3/ */
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn, .btn_drop_task, .btn_take_task {
  padding: 8px 10px;
  background: #4479BA;
/*  background: #A21100; */
  color: #FFF;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: solid 1px #20538D;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.btn:hover, .btn:focus,
.btn_drop_task:hover, .btn_drop_task:focus,
.btn_take_task:hover, .btn_take_task:focus {
/*  background: #356094; */
  background: #1540FF;
  border: solid 1px #2A4E77;
  text-decoration: none;
  color: white;
}

.btn:active,
.btn_drop_task:active, .btn_take_task:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.btn_small {
  border-radius: 12px;
  padding: 2px 8px;
} 

